{
  "extends": ["standard", "eslint-config-standard-jsx"],
  "plugins": [
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
