html {
  background: black;
  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
}

body {
  max-width: 520px;
  margin: 0 auto;
  padding: 20px 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 15px;
}

nav {
  border-bottom: 1px solid #222;
  padding: 15px 0px;
  margin-bottom: 35px;
}

nav:before {
  content: "⬤ ⬤";
  margin-right: 20px;
}

a {
  color: #bbb;
  text-decoration: white double underline;
}

a:hover {
  color: white;
}

a.active {
  color: white;
}

nav > a {
  text-decoration: none;
  margin: 0 15px;
}

nav > a.active {
  text-decoration: underline;
}
